body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    margin: 0;
}

.container {
    padding: 20px;
}

.card {
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px; /* Largura fixa para o card */
}

.card-img {
    width: 100%;
    height: auto;
}

.card-content {
    padding: 15px;
}

.card-title {
    margin: 10px 0;
    font-size: 1.5em;
    color: #333;
}

.card-description {
    color: #666;
    margin-bottom: 15px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    text-align: center; /* Centraliza o texto do botão */
}

.btn:hover {
    background-color: #0056b3;
}
